.contacts__title{
  display: grid;
  grid-template-columns: 1fr 38px 91px;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 15px;

  & .ant-radio-group > .ant-btn{
    width: 32px;

    & > span {
      text-align: center;
      margin-left: -7px;
    }
  }
  
  &-text{
  display: inline-block;
  font-size: 32px;
  line-height: 1.3;
  margin-right: 12px;
  margin-bottom: 0;
  color: rgba(0,0,0,.85);
  font-weight: 600
  }
}

.ant-radio-group > .ant-radio-button-wrapper {
  padding-right: 12px;
  width: 32px;
  height: 32px;
}

.ant-list > .ant-list-footer {
  background-color: #fafafa;
  padding: 10px;
}

.ant-table-footer{
  background-color: #fff;
  margin-top: 14px;
}
